@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {box-sizing: border-box;}

body, html {
    background: #0D0D0D;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: left;

    top: 0;
    z-index: 100;

    width: 100%;
    height: 15%;

    padding: 0 60px;

    background-color: #0D0D0D;
}

.logo {
    font-size: 28px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: white;

    margin: 0;

    user-select: none;
}

.main-section {
    position: absolute;
    bottom: 0;

    overflow-y: scroll;

    height: 85%;
    width: 60%;

    padding: 30px 60px 120px 60px;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* ----------------------------- TASK ELEMENT ----------------------------- */

.task, .create-task-form-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: left;

    width: 100%;
    height: 60px;

    margin: 0;
    
    padding: 16px 24px;
    border: solid #c8c8c8 2px;
    border-radius: 10px;

    user-select: none;
}

.task-check {
    margin: 0 16px 0 0;
    cursor: pointer;
}

.task-content {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: white;

    margin: 0;
}

input[type="checkbox"]:checked + .task-content {
    text-decoration: line-through;
    font-style: italic;
    color: #B1B1B1;
}

.button-container {
    position: relative;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: right;

    margin-left: auto;
    
    height: 100%;
    width: 160px;
}

.task-button {
    height: 100%;

    display: inline-block;

    background: none;
    border: none;
    border-radius: 4px;
    outline: none;

    color: #A78CFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;

    padding: 0 5%;
    margin-left: 6px;

    cursor: pointer;
    user-select: none;

    transition: background 0.15s;
}

.task-button:hover {
    background: #393939;
}

.task-button:active {
    background: #5a5a5a;
}

.task-delete, .task-cancel {
    color: rgb(200, 64, 64);
}

/* ----------------------------- CREATE TASK FORM ----------------------------- */

.create-task-form-container {
    margin-bottom: 32px;
    border-color: #B1B1B1;
    transition: border-color 0.15s ease-in-out;
}

.create-task-form-container:focus-within {
    border-color: #A78CFF;
}

.create-task-form, .update-task-form {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
}

.create-task-form input, .update-task-form input {
    background: none;
    border: none;
    padding: 0;

    width: 90%;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: white;
}

.create-task-form input:focus, .update-task-form input:focus {
    outline: none;
}

.create-task-form ::placeholder, .update-task-form ::placeholder {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 16px;
    color: #B1B1B1;
    opacity: 1;
}

/* ----------------------------- UPDATE TASK FORM ----------------------------- */

.hide {
    display: none;
}